<html>
  <head>
    <title>My website</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <h1>This is About</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt consequat lorem at
      malesuada. Phasellus rhoncus tortor non purus pretium vehicula at et velit. Duis sem nulla,
      auctor quis facilisis eu, rutrum vel turpis. Vivamus condimentum libero a tincidunt semper.
      Sed quam risus, dictum ac arcu non, feugiat tempus ipsum. Curabitur convallis ex eu iaculis
      aliquam. Nulla accumsan odio in eleifend finibus. Sed et sodales nisl, quis laoreet neque.
      Proin at vestibulum ante. Praesent pellentesque odio at justo condimentum tincidunt at id
      purus. Morbi in tempor enim. Curabitur ultricies sed nisl non fermentum. Praesent ut tempus
      orci, quis ornare odio. Aliquam eu libero vitae metus venenatis tincidunt. Mauris ac augue
      egestas, consequat justo ut, iaculis nisl. Morbi fringilla euismod diam et dictum. Integer at
      egestas urna, eget pharetra sapien. Sed eget rutrum erat. Cras porttitor tellus consectetur
      justo congue, vitae vehicula metus elementum. Aenean tempor id felis at elementum. Donec
      scelerisque eros et turpis vestibulum porttitor. Nullam sit amet velit eu nulla pretium
      elementum. Sed id tortor eget neque posuere efficitur. Maecenas lectus ante, dapibus ac felis
      in, accumsan commodo libero. Nam et molestie urna, ac varius lectus. Nullam nec felis vel dui
      malesuada ornare ut sit amet lectus. Nunc gravida ligula quis nibh tincidunt rutrum. Donec sed
      scelerisque leo, suscipit tempus diam. Nullam vehicula elit quis lorem maximus vestibulum.
      Phasellus molestie vehicula eros, finibus auctor ex hendrerit nec. Aliquam ac dictum turpis.
      Suspendisse aliquet condimentum mauris, sed tincidunt nulla. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos. Quisque sed lobortis diam. Sed
      nibh mauris, tincidunt et mauris ut, tristique varius tellus. Maecenas nec fermentum sapien,
      non pulvinar tellus. Phasellus malesuada maximus lacus et imperdiet. Mauris congue blandit
      augue a suscipit. Praesent pellentesque in dui ac fringilla. Donec eget massa sed lacus
      pellentesque tincidunt et a urna. Aliquam molestie imperdiet mauris, in pharetra erat auctor
      ut. Vestibulum tincidunt varius hendrerit. Curabitur auctor ipsum non fermentum sollicitudin.
      Integer semper porta odio, et convallis turpis pharetra nec. Etiam orci ex, viverra eget
      posuere sed, ullamcorper viverra mauris. Morbi vitae est nunc. Proin vitae ex ipsum. Praesent
      nisl mauris, lobortis eu ante a, ultrices dapibus justo. Sed sed tellus vitae lorem ornare
      luctus. Suspendisse et rhoncus ex. Fusce ut ante dolor. Praesent quis justo sit amet odio
      consectetur tempor nec sodales nisi. Vestibulum vitae erat non dolor pharetra consectetur ac
      vitae tortor. Morbi quis velit ex. Vivamus sodales tristique efficitur. Donec feugiat, justo
      vestibulum facilisis tristique, mauris dui elementum augue, non tempus lacus mauris et nibh.
    </p>

    <script src="scripts/main.js"></script>
  </body>
</html>
