<html>
  <head>
    <title>My website</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <h1>This is home</h1>
    <div class="container">
      <!-- HEADER -->
      <div class="row menu">
        <div class="column">
          <a class="nav-link" href="/home">
            <img src="/public/images/" alt="... logo" />
          </a>
        </div>
        <div class="column">
          <ul class="nav-content-right">
            <li class="nav-item">
              <a class="nav-link-right" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-right" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-right" href="/works">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-right" href="/photo-gallery">Photo Gallery</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- H1 -->
      <div class="container-H1">
        <div class="container-H1-front">
          <h1>lab-express</h1>
        </div>

        <div class="container-H1-side">
          <h1>001</h1>
        </div>
      </div>

      <!-- H4 -->
      <div class="container-H4">
        <div class="container-H4-side">
          <h1>001</h1>
        </div>
      </div>
    </div>
  </body>
</html>
