  <head>
    <title>My website</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <h1>This is Photo Gallery</h1>
    <div class="container">
      <div class="row menu">
        <div class="column">
          <a class="nav-link" href="/home">
            <img src="/public/images/" alt="... logo" />
          </a>
        </div>
        <div class="column">
          <ul class="nav-content-right">
            <li class="nav-item">
              <a class="nav-link-right" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-right" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-right" href="/works">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-right" href="/photo-gallery">Photo Gallery</a>
            </li>
          </ul>
        </div>
      </div>
    </div>    
  </body>
</html>
