* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container{
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 1em;
}

.row.menu {
  margin-top: 3em;
}

.column {
  position: relative;
  width: 100%;
  padding: 0 1em;
}

.nav-link {
  display: block;
  
}

.nav-content-right {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-end;  
}

.nav-link-right{
  color: #6c757d;
  padding: 0.5em 1em;
}
